.header{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.switch{
    width: 60px;
    height: 30px;
    position: absolute;
    top: 18px;
    left: 20px;
    display: flex;
    border: 1px solid #0000001f;
    border-radius: 100px;
    outline: none;
    background-color: #0000001f;
    justify-content: center;
    align-items: center;
    transition: 10s ease all;
}

.switch span{
    width: 100%;
    height: 20px;
    display: block;
    background: none;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.switch img{
    width: 20px;
    height: 20px;
    filter: invert(99%) sepia(0%) saturate(472%) hue-rotate(214deg) brightness(113%) contrast(100%);
    transition: 2ms ease all;
}

.spanOne{
    float: left;
}

.spanTwo{
    float: right;
}

.switch::after{
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: #003026;
    top: -2px;
    left: unset;
    right: -1px;
    border-radius: 100px;
    transition: 2ms ease all;
}

.modActive{
    filter: none;
}

.modActive::after{
    left: -1px;
    right: unset;
}

nav{
    display: block;
    float: right;
    width: 100%;
    height: 8vh;
    background-color: #00000041;
    box-shadow: 1px 10px 5px 10px #00000041;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

li{
    list-style: none;
    padding: 10px 15px;
    margin-top: 10px;
}

.firsText{
    font-size: 22px;
    text-decoration: none;
    color: #eafff6;
    transition:all .3s ease-in-out;
    text-shadow: 0px 1px 1px #01d194;
}

.firsText:hover{
    color: #01d194;
}
@media(max-width:415px){
    ul{
        justify-content: center;
    }
}
@media(max-width:415px){
    .firsText{
        font-size: 17px;
    }
}

