.welcomeGene{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 80px auto 0;
    text-transform: uppercase;
    font-size: 25px;
    align-items: center;
    color: #eafff6;
}

.textDecoration{
    text-shadow: 0px 1px 1px #01d194;
}

.curriculumGene{
    width: 80%;
    height: 65vh;
    margin: 11px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #eafff6;
}

.curri{
    position: relative;
    left: 50px;
    width: 45%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.curriDownload{
    margin-top: 60px;
}

.animationImage{
    position: relative;
    margin: 10% auto 0;
    width: 210px;
    height: 250px;
    background: linear-gradient(90deg, #003026,#01d194,#eafff6);
    border-radius: 10px 80px;
}

.bgAnimation::before, .bgAnimation::after{
    content: "";
    position: absolute;
    left: -8px;
    top: -8px;
    background: linear-gradient(120deg, #003026,#01d194,#eafff6);
    background-size: 300%;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    z-index: -1;
    animation: bGragient 10s infinite;
    border-radius: 10px 80px;
}

@keyframes bGragient{
    0% {
        background-position: 0% 200%;
    }
    50%{
        background-position: 200% 0%;
    }
    100%{
        background-position: 0% 330%;
    }
}

.bgAnimation::after{
    filter: brightness(1.4);
    filter: drop-shadow(16px 16px 20px #fff);
    filter: blur(15px);
}

.image{
    width: 100%;
    height: 250px;
    margin: auto;
    border-radius: 10px 80px;
}

.downCurri{
    text-decoration: underline;
    color: #01d194;
}

.downCurri:hover{
    color: #fff;
}

.about{
    width: 50%;
    display: flex;
    text-align: center;
}

.about h3{
    width: 70%;
}

@media(max-width:1115px){
    .welcomeGene{
        margin: 30px auto 0;
    }

    .curriculumGene{
        width: 100%;
    }
}
@media(max-width:780px){
    .welcomeGene{
        width: 100%;
    }
    .curriculumGene{
        flex-direction: column;
        height: auto;
    }
    .curri{
        position: initial;
    }
    .about {
        width: 100%;
        margin: 20px auto;
        justify-content: center;
    }
}
@media(max-width:545px){
    .welcomeGene{
        font-size: 17px;
    }
    .curriculumGene{
        flex-direction: column;
        height: auto;
    }
    .curri{
        position: initial;
    }
    .about h3{
        font-size: 15px;
    }
}
@media(max-width:375px){
    .welcomeGene{
        width: 90%;
        font-size: 11px;
    }
    .curriculumGene{
        flex-direction: column;
        height: auto;
    }
    .curri{
        width: 100%;
        position: initial;
    }
    .about h3{
        font-size: 15px;
    }
}
@media(max-width:280px){
    .welcomeGene{
        font-size: 10px;
    }

    .curriculumGene{
        flex-direction: column;
        height: auto;
    }
    .curri{
        position: initial;
    }
    .about h3{
        font-size: 15px;
    }
}

