.img{
    width: 30px;
    border-radius: 10px;
    margin: 0 4px;
}

@keyframes movimiento{
    from{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    to{
        margin-bottom: 20px;
        margin-top: 0px;
    }
}

.container{
    width: 100%;
    text-align: center;
    color: #eafff6;
}

.tittleProject{
    text-transform: uppercase;
    font-size: 40px;
    text-shadow: 0px 1px 1px #01d194;
}

.containerProjects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    width: 80%;
    margin: 8px auto 0;
    text-align: center;
}

.cart{
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    background-color: #eafff6;
    box-shadow: 1px 1px 5px 1px #01d194;
}

.nameProject{
    margin: 10px;
    font-size: 20px;
    color: #003026;
}

.imgProjects{
    width: 100%;
    border-radius: 10px;
}

@media(max-width:780px){
    .containerProjects{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: max-content;
    }
}
@media(max-width:545px){
    .containerProjects{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: max-content;
    }
}
@media(max-width:375px){
    .tittleProject{
        font-size: 30px;
    }
}